body
{
    background-color: black;
}

h1, h2
{
    color: gold;
    text-align: center;
}

input
{
    padding: 0.4em 0.5em;
}

/* Menu */
.menu
{
    background-color: gray;
    padding: 0.25em;
    margin: 0.25em;
}

.menu a
{
    color: lightblue;
    padding: 0.5em;
    text-decoration: none;
}

.menu a:hover
{
    color: blue;
    background-color: lightgray;
}

.menu a.active
{
    background-color: black;
}

/* Design */
.design
{
    display: none;
    color: lightskyblue;
}

.design .textDiv
{
    color: white;
    justify-self: end;
}

.design select
{
    width: 15em;
}

.design option
{
    padding: 0.1em;;
}

.design .obsolete
{
    font-style: italic;
}

.design .used
{
    font-weight: bold;
}

.design .header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    margin-bottom: 1em;
}

.designFooter
{
    color: white;
}

.designFooter span
{
    color: lightgreen;
    font-weight: bold;
}

.designFooter input[type="range"]
{
    padding: 0;
    width: 10em;
}

.designGrid
{
    display: grid;
    grid-template-columns: 2fr 9em 9em 9em 3fr;
    justify-items: center;
    align-items: center;
    column-gap: 1em;
    row-gap: 0.5em;
}

.designGrid :nth-child(5n+1)
{
    color: lightgreen;
    justify-self: end;
}

.designGrid :nth-child(5n+1) input
{
    color: black;
}

.designGrid :nth-child(5n+5)
{
    color: lightgray;
    justify-self: start;
}

.designGrid input
{
    color: black;
    width: 9em;
    text-align: right;
}

.error
{
    border-color: red;
}